body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#welcome {
    padding: 50px 100px;
}

#chocolates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chocolate-container {
    cursor: pointer;
    margin: 0 50px 100px 50px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 50px 0;
    transition: all .5s ease, border-radius 0s ease;
}

.chocolate-container:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(143,23,23,1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(143,23,23,1);
    box-shadow: 0px 0px 34px 0px rgba(143,23,23,1);
}

.chocolate-image {
    width: 250px;
    height: 200px;
    background-color: #654321;
    text-align: center;
    border-radius: 50px 0 0 0;
    object-fit: contain;
    color: white;
}

.chocolate-desc {
    padding: 20px;
    background-color: #e6a163;
    border-radius: 0 0 50px 0;
}

.chocolate-info {
    width: 100%;
}

.chocolate-info-key {
    font-weight: bold;
}

.chocolate-info-value {
    text-align: right;
}

@media (max-width: 600px) {
    #welcome {
        padding: 50px;
    }
}