body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
    text-decoration: none;
}

#nav-bar {
    width: 90%;
    height: 50px;
    margin: 0;
    padding: 0 5%;
    display: flex;
    background-color: #333;
    font-size: 20px;
    overflow: hidden;
}

.nav-menu {
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.nav-menu:hover:not(.active) {
    background-color: #42d1f5;
}

.active {
    background-color: #429ef5;
}

#left-menus, #right-menus {
    width: 25%;
    display: flex;
    align-items: center;
    color: white;
}

#right-menus {
    justify-content: flex-end;
}

#search-bar {
    width: 50%;
    line-height: 50px;
    display: flex;
    justify-content: center;
}

#search {
    width: 80%;
}