.transaction-table-viewer {
  overflow: auto;
  border-style: solid;
  border-width: 2px;
}

.transaction-table {
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

.transaction {
  display: flex;
  width: 100%;
}

.transaction-column {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid;
}

.transaction-column.c1 { width: 20%; padding-left: 20px; }
.transaction-column.c2 { width: 10% }
.transaction-column.c3 { width: 15% }
.transaction-column.c4 { width: 15% }
.transaction-column.c5 { width: 10% }
.transaction-column.c6 { width: 30%; padding-right: 20px; }

.transaction-table-controller {
  margin: 5px 0px 0px auto;
}

.transaction-table-controller-number {
  margin: 0px 5px;
}

.transaction-table-controller {
  margin: 5px 0px 0px auto;
}

.bordered {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
}